@CHARSET "UTF-8";
body{ background: #eee;}

/*20150708 追影视觉*/
h2{margin:0px;padding:0px;}
.navbar{
box-shadow:none;
margin:0px;
}
.navbar .container{
background:url(../images/top_bg.jpg) center center no-repeat;
width:100%;
height:auto;
overflow:hidden;
margin:0px;
min-height:212px;
position:relative;
}
.navbar-inner{
padding:0px;
}
.logo-box{
width:545px;
height:109px;
position:absolute;
top:30px;
left:50%;
margin-left:-400px;
}

#main-menu{
width:1200px;
height:48px;
position:absolute;
bottom:25px;
margin:0px auto;
left:50%;
margin-left:-130px;
}

.navbar .nav li{
padding-bottom:10px;
border-bottom:3px solid transparent;
}
.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus{
background:none;
color:#000;
}
.navbar .nav li a{
display:block;
padding:0px;
text-align:center;
width:80px;
font-size:14px;
font-family:"微软雅黑";
height:15px;
line-height:15px;
color:#070707;
text-shadow:none;
border-right:1px dotted #333;
background:none;
}
.navbar .nav li:last-child a{
border-right:none;
}
.navbar .nav li.active,.navbar .nav li:hover{
border-bottom:3px solid #333333;
color:#000;
background:none;
}
.navbar .nav li:hover a{
color:#000;
background:none;
}

.sy-box{
width:100%;
height:auto;
overflow:hidden;
}


.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
}
.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
margin-right: 0px;
margin-left: 0px;
}

.navbar .nav .user{
	padding: 0;
	line-height: 70px;
}
.navbar .nav .user .headicon{
	margin: 0 5px;height: 30px;
}
.navbar .nav .user .caret{
	vertical-align: middle;
	margin: 0 5px;
}
/*tc widget*/
.tc-main{
	margin-top: 20px;
}
/*tc-box*/
.tc-box{
	padding:0px;
	margin: 10px 0;
}
.tc-box.first-box{
	margin:0 0 10px 0;
}

#article_content{
	margin:10px auto;
	line-height:30px;
	}


/*tc-box end */




/* The blog boxes */
/*.tc-gridbox {
  background-color: #ececec;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 1px 1px #a8a8a8;
  -moz-box-shadow: 0px 1px 1px #a8a8a8;
  box-shadow: 0px 1px 1px #a8a8a8;
  margin-bottom: 40px;
}*/

.tc-gridbox {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: solid 1px #ddd;
  background: #fff;
	cursor: pointer;
}
.tc-gridbox:hover{ border: solid 1px #ccc;
-webkit-box-shadow: 0 5px 5px 0 rgba(50,50,50,0.1);
-moz-box-shadow: 0 5px 5px 0 rgba(50,50,50,0.1);
box-shadow: 0 5px 5px 0 rgba(50,50,50,,0.1);

}
.tc-gridbox a{text-decoration: none;}

@media (min-width: 768px) and (max-width: 979px) {
  .tc-gridbox {
    display: block;
    float: none;
    width: 95%;
  }
}
.tc-gridbox .header {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
	background: #fff;
}
.tc-gridbox .footer {
  padding: 5px 14px 5px 14px;
  text-align: right;
	background: #fff;
}
.tc-gridbox .header .item-image{
	overflow: hidden;
}
.tc-gridbox .header img {
  margin-bottom: 5px;
	-webkit-transition: all 0.8s ease-in-out;
-moz-transition: all 0.8s ease-in-out;
-o-transition: all 0.8s ease-in-out;
-ms-transition: all 0.8s ease-in-out;
transition: all 0.8s ease-in-out;
}
.tc-gridbox .header img:hover {

	-webkit-transform: scale(1.2) rotate(2deg);
-moz-transform: scale(1.2) rotate(2deg);
-o-transform: scale(1.2) rotate(2deg);
-ms-transform: scale(1.2) rotate(2deg);
transform: scale(1.2) rotate(2deg);
}
.tc-gridbox .header h3 {
  color: #454a4e;
  margin: 0 5px;
  font-size: 16px;
text-overflow: ellipsis;
overflow: hidden;
line-height: 24px;
}
.tc-gridbox .header h3 a,
.tc-gridbox .header h3 a:focus,
.tc-gridbox .header h3 a:hover {
  color: #454a4e;
  white-space: nowrap;
}
.tc-gridbox .header .meta {
  color: #5a6065;
}
.tc-gridbox .header hr {
  border-top-color: #ced5db;
  border-bottom: none;
  margin: 5px 0;
}
.tc-gridbox .body {
  padding-right: 14px;
  padding-left: 14px;
  margin-bottom: 14px;
  color: #343a3f;
}
.tc-gridbox .body a{color: #666;}
.tc-gridbox .body a:hover{color: #428bca;}
.tc-gridbox .btn {
  float: right;
  margin-right: 10px;
  margin-bottom: 18px;
}


/*masonary*/

#container .item{
	margin-bottom: 20px;
}
#container .item h3{
	line-height: 100%;
}
#container .grid-sizer,#container .item { width: 23%; margin: 10px 1%;float:left;zoom: 1;}

@media (max-width: 479px) {
	#container .grid-sizer,#container .item { width: 98%; margin: 10px 1%;float:left;zoom: 1;}
}

@media (min-width: 480px) and (max-width: 767px) {
	#container .grid-sizer,#container .item { width: 48%; margin: 10px 1%;float:left;zoom: 1;}
}

		
/*list Boxes
------------------------------------*/
.list-boxes {
  overflow: hidden;
  padding: 15px 20px;
  margin-bottom: 25px;
  background: #fff;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  border-top: solid 2px #fff;
  word-wrap: break-word;
  word-break: break-all;
	
}

.list-boxes:hover{
border-top: solid 2px #f90;
}

.list-boxes h2 a {
  color: #555;
}
.list-boxes:hover h2 a {
color: #f90;
}

.list-boxes .list-actions a{font-size: 16px; text-decoration: none;}

.list-boxes p a {
  color: #72c02c;
}

.list-boxes .list-boxes-img li i {
  color: #72c02c;
  font-size: 12px;
  margin-right: 5px;
}

.list-boxes .list-boxes-img img {
  display: block;
  margin: 5px 10px 10px 0;
}

.list-boxes h2 {
  margin-top: 0;
  font-size: 20px;
  line-height: 20px;
}

.list-boxes ul.list-boxes-rating li {
  display: inline;
}

.list-boxes ul.list-boxes-rating li i {
  color: #f8be2c;
  cursor: pointer;
  font-size: 16px;
}

.list-boxes ul.list-boxes-rating li i:hover {
  color: #f8be2c;
}

/*list Colored Boxes*/
.list-boxes-colored p,
.list-boxes-colored h2 a,
.list-boxes-colored .list-boxes-img li,
.list-boxes-colored .list-boxes-img li i {
  color: #fff;
}

/*Red list Box*/
.list-boxes-red {
  background: #e74c3c;
}

/*Blue list Box*/
.list-boxes-blue {
  background: #3498db;
}

/*Grey list Box*/
.list-boxes-grey {
  background: #95a5a6;
}

/*Turquoise list Box*/
.list-boxes-sea {
  background: #1abc9c;
}

/*Turquoise Top Bordered list Box*/
.list-boxes-top-sea {
  border-top: solid 2px #1abc9c;
}

.list-boxes-top-sea:hover {
  border-top-color: #16a085;  
}

/*Yellow Top Bordered list Box**/
.list-boxes-top-yellow {
  border-top: solid 2px #f1c40f;
}

.list-boxes-top-yellow:hover {
  border-top-color: #f39c12;
}

/*Orange Left Bordered list Box**/
.list-boxes-left-orange {
  border-left: solid 2px #e67e22;
}

.list-boxes-left-orange:hover {
  border-left-color: #d35400;
}

/*Green Left Bordered list Box**/
.list-boxes-left-green {
  border-left: solid 2px #72c02c;
}

.list-boxes-left-green:hover {
  border-left-color: #5fb611;
}

/*Green Right Bordered list Box**/
.list-boxes-right-u {
  border-right: solid 2px #72c02c;
}

.list-boxes-right-u:hover {
  border-right-color: #5fb611;
}

/*comments*/
.comment{
	margin-bottom: 10px;
}
.comment .avatar{height: 40px;width:40px;}
.comment-body{overflow: hidden;}
.comment-content{
	padding-bottom: 2px;
word-break: break-all;
word-wrap: break-word;
}

.comment>.pull-left {
margin-right: 10px;
}

.comment .time{
	color:#ccc;
	font-size: 12px;
	line-height: 14px;
}
.comment-postbox-wraper{padding-right:22px; }
.comment-postbox{width: 100%;padding: 10px;}

.comment-reply-box{position: relative;padding-right:14px;}
.comment-reply-box .textbox{width: 100%}


/*ranking box*/

.ranking ul.unstyled li{
	padding: 5px 0;
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-bottom: 1px dashed #f0f0f0;
}

.ranking ul.unstyled li i{
	margin-right: 5px;
}

.ranking li i{
display: inline-block;
width: 20px;
height: 20px;
line-height: 20px;
margin-right: 15px;
font-style: normal;
font-weight: bold;
color: #FFF;
text-align: center;
vertical-align: middle;
background-color: #aaa;
}
.ranking li.top3 i{background: #FC9B0B;}

/*comment ranking box*/
.comment-ranking .comment-ranking-inner {
	padding: 10px;
	background: #f7f7f7;
	position: relative;
	margin-bottom: 10px;
	/*border-top: solid 2px #eee;*/
}

.comment-ranking .comment-ranking-inner,
.comment-ranking .comment-ranking-inner:after,
.comment-ranking .comment-ranking-inner:before {
	transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;	
}

.comment-ranking .comment-ranking-inner:after,
.comment-ranking .comment-ranking-inner:before {
	width: 0; 
	height: 0;
	right: 0px;
	bottom: 0px;
	content: " "; 
	display: block; 
	position: absolute;
}

.comment-ranking .comment-ranking-inner:after {
	border-top: 15px solid #eee;	
	border-right: 15px solid transparent;
	border-left: 0px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-right-style: inset; /*FF fixes*/
}
.comment-ranking .comment-ranking-inner:before {
	border-bottom: 15px solid #fff;	
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}

.comment-ranking .comment-ranking-inner:hover {
	border-color: #FC9B0B;
	border-top-color: #FC9B0B;	
	background: #f0f0f0;
}
.comment-ranking .comment-ranking-inner:hover:after {
	border-top-color: #FC9B0B;	
}

.comment-ranking .comment-ranking-inner span.comment-time {
	color: #777;
	display: block;
	font-size: 11px; 
}

.comment-ranking .comment-ranking-inner a {
	text-decoration: none;
}
.comment-ranking .comment-ranking-inner a:hover {
	text-decoration: underline;
}

.comment-ranking .comment-ranking-inner i.fa {
	top: 2px;
	color: #bbb;
	font-size: 18px;
	position: relative;
}

/*ThinkCMF Photos*/
ul.tc-photos{margin: 0;}
.tc-photos li {
	display: inline;
}
.tc-photos li a{text-decoration: none;}
.tc-photos li img {
	opacity: 0.6;
	width: 50px;
	height: 50px;
	margin: 0 2px 8px;
	border: 1px solid #ddd;
}
.tc-photos li img:hover {
	opacity: 1;
	border: 1px solid #f90;
	/* box-shadow: 0 0 0 1px #f90; */
}

/**/

/*Blog Posts
------------------------------------*/ 
.posts .dl-horizontal a {
}

.posts .dl-horizontal { 
	margin-bottom: 15px;
	overflow: hidden;
}

.posts .dl-horizontal dt { 
	width: 60px; 
	float: left;
}
.posts .dl-horizontal dt .img-wraper {
	display:block;
	width: 55px; 
	height: 55px;
	padding: 1px;
	margin-top: 2px; 
	border: solid 1px #ddd;
}


.posts .dl-horizontal dt img {
	width:100%;
	height: 100%;
	/* width: 55px; 
	height: 55px;
	padding: 1px;
	margin-top: 2px; 
	border: solid 1px #ddd; */
}

.posts .dl-horizontal dd { 
	margin-left: 70px;
}

.posts .dl-horizontal dd p { 
	margin: 0;
}

.posts .dl-horizontal dd a {
	font-size: 14px;
	line-height: 16px !important; 
}

.posts .dl-horizontal dd a:hover { 
	text-decoration: none;
}

.posts .dl-horizontal:hover dt img,
.posts .dl-horizontal:hover dd a {
	color:#FC9B0B;
	border-color: #FC9B0B !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ad-box{
	width:100%;
	overflow:hidden;
	text-align:center;
	background:#eee;
	}

.tc-main{
	width:1000px;
	}
.row{margin-left:0px;}
.span3{
	width:210px;
	}
.span9{
	width:780px;
	float:right;
	}
[class*="span"]{
	margin-left:0px;
	}

.kefu-box h2{
	font-size:14px;
	height:34px;
	line-height:32px;
	background:#252525;
	width:100%;
	color:#ffffff;
	text-indent:10px;
	margin:0px 0px 10px 0px;
	}

.kefu-box .kefu{
	padding:5px;
	width:200px;
	margin-left:10px;
	font-size:12px;
	color:#000;
	}

.work-time h2,.contact-box h2{
	text-indent:42px;
	font-size:15px;
	line-height:32px;
	height:32px;
	font-weight:800;
	}
.work-time h2{
		background:url(../images/serviceOnlineTime1.png) 10px center no-repeat;
	}
.contact-box h2{
		background:url(../images/serviceOnlineCall.png) 10px center no-repeat;
	}
.work-time p,.contact-box p{
	margin-left:15px;
	font-size:12px;
	color:#000;
	}

.lists{background:#fff;}

.lists h2,.tc-box h2{
	width:100%;
	height:34px;
	line-height:34px;
	border-bottom:2px solid #ccc;
	}
.lists h2 span,.tc-box h2 span{
	font-size:16px;
	line-height:34px;
	height:34px;
	display:block;
	float:left;
	padding-left:10px;
	font-weight:bold;
	border-bottom:2px solid #000;
	}
.tc-box h2 span{
	width:auto;
	}
.list-box ul,.list-box li{
	list-style:none;
	padding:0;
	margin:0;
	}
.list-box ul{
	padding:10px;
	}
.list-box li{
	width:180px;
	height:170px;
	margin:5px 5px;
	overflow:hidden;
	float:left;
	text-align:center;
	}
.list-box li a.imgbox{
	height:106px;
	width:160px;
	overflow:hidden;
	display:block;
	background:#f5f5f5;
	padding:10px;
	}

.list-box li a.tit{
	height:50px;
	line-height:50px;
	text-align:center;
	color:#666;
	text-decoration:none;
	}
.list-box li a:hover{
	color:#cc0000;
	}
.pagination{
	margin:20px auto;
	text-align:center;
	}
#footer{
	background:#252934;
	width:100%;
	padding:10px 0px 20px 0px;
	margin-top:15px;
	}	
#footer-menu{
	text-align:center;
	height:30px;
	margin-top:10px;
	line-height:30px;
	}	
#footer-menu a{
	border-right:1px solid #fff;
	padding:0px 9px 0px 7px;
	width:auto;
	color:#fff;
	font-size:12px;
	}
#footer-menu a:last-child{
	border-right:none;
	}
.copyright{
	text-align:center;
	color:#fff;
	height:25px;
	line-height:25px;
	font-size:12px;
	}
.copyright a{
	text-decoration:none;
	color:#fff;
	}
.section-title,.span3 h3{font-size:18px;font-weight:600;}

/*20150709首页内容部分*/
.wrapper{
	width:1000px;
	margin:10px auto;
	}
.wrapper h2{
	width:100%;
	height:34px;
	line-height:34px;
	font-family:"微软雅黑";
	font-size:16px;
	color:#333;
	font-weight:bold;
	border-bottom:#999 2px solid;
	}
.wrapper h2 span{
	display:block;
	float:left;
	width:auto;
	padding:0px 10px;
	height:34px;
	border-bottom:#000 2px solid;
	}
.wrapper h2 a{
	float:right;
	display:block;
	width:70px;
	height:34px;
	text-align:center;
	}
.zpzs{
	width:100%;
	height:auto;
	overflow:hidden;
	margin-bottom:10px;
	}
.zpzs ul,.zpzs li{
	padding:0;
	margin:0;
	list-style:none;
	}
.zpzs ul{
	margin:10px auto;
	}
.zpzs li{
	width:220px;
	height:150px;
	padding:10px;
	background:#f5f5f5;
	overflow:hidden;
	float:left;
	margin:10px 5px 0px 5px;
	}
.zpzs a{
	display:block;
	color:#333;
	}
.zpzs a.imgbox{
	width:100%;
	height:120px;
	overflow:hidden;
	}
.zpzs a.imgbox img{
	min-width:100%;
	height:120px;
	}
.zpzs a.tit{
	text-align:center;
	height:30px;
	line-height:45px;
	text-decoration:none;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:100%;
	}
.zpzs a:hover{
	color:#c20000;
	}

.kfjj{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:10px 0px;
	}

.kfjj .kefus{
	width:210px;
	float:left;
	}
.kefus h2{
	background:#252525;
	border-bottom:none;
	color:#fff;
	font-size:14px;
	height:36px;
	margin-bottom:10px;
	}
.kefus h2 span{
	border-bottom:none;
	}
.kfjj .gsjj{
	width:780px;
	float:right;
	}
.gsjj .content-box{
	padding:10px;
	max-height:120px;
	_height:120px;
	overflow:hidden;
	}
.gsjj .content-box img{
	width:230px;
	height:140px;
	overflow:hidden;
	float:left;
	margin-right:15px;
	margin-bottom:15px;
	}
.gsjj .content-box span{
	line-height:28px;
	font-size:12px;
	}

.slick-slider{
	margin:10px auto;
	height:125px;
	overflow:hidden;
	}

.slick-slide{
	height:125px;
	overflow:hidden;
	}
.slick-slider a{
	padding:3px;
	}